<div class="gastos-page">
  <!-- PANEL DE GASTOS -->

  <div class="card">
    <div class="budget-card-header">
      <h3>Panel de gastos</h3>
      <p class="tasa">Tasa en vivo: {{ cambioPLN | number:'1.2-2' }} PLN</p>
    </div>
    <div class="estadisticas">
      <div class="dato">
        <span>Presupuesto</span>
        <strong>{{ presupuesto }} €</strong>
      </div>

      <div class="dato">
        <span>Gastado</span>
        <strong> {{ totalGastado | number:'1.2-2' }} € </strong>
      </div>

      <div class="dato">
        <span>Disponible</span>

        <strong [style.color]="colorDisponible">
          {{ disponible | number:'1.2-2' }} €
        </strong>
      </div>
    </div>

    <div class="progreso">
      <div
        class="progreso-fill"
        [style.width.%]="porcentajeGastado"
        [style.background]="colorProgreso"
      ></div>
    </div>
  </div>

  <!-- CONVERSOR -->

  <div class="card">
    <h3>Conversor</h3>

    <div class="conversor">
      <div class="moneda-box">
        <span> {{ monedaOrigen }} </span>
        <input type="number" [(ngModel)]="cantidadOrigen" />
      </div>

      <button class="swap-btn" (click)="cambiarMoneda()">
        <span [class.rotando]="rotando" (animationend)="rotando = false">
          ⇄
        </span>
      </button>

      <div class="moneda-box">
        <span> {{ monedaOrigen === 'EUR' ? 'PLN' : 'EUR' }} </span>
        <div class="resultado">{{ cantidadDestino | number:'1.2-2' }}</div>
      </div>
    </div>
  </div>

  <!-- NUEVO GASTO -->

  <div class="card gasto">
    <h3>{{ editando ? '✏️ Editar gasto' : '➕ Nuevo gasto' }}</h3>

    <div class="fila-dos">
      <input
        type="text"
        placeholder="Concepto"
        [(ngModel)]="nuevoGasto.concepto"
      />

      <input
        type="number"
        placeholder="Precio"
        [(ngModel)]="nuevoGasto.importe"
        (blur)="nuevoGasto.importe = +nuevoGasto.importe.toFixed(2)"
      />
    </div>

    <div class="fila-tres">
      <!-- MONEDA -->

      <details class="dropdown" (toggle)="toggleDropdown($event)">
        <summary>{{ nuevoGasto.moneda }}</summary>

        <div class="dropdown-options">
          <button
            type="button"
            (click)="nuevoGasto.moneda = 'EUR'; cerrarDropdowns()"
          >
            EUR
          </button>

          <button
            type="button"
            (click)="nuevoGasto.moneda = 'PLN'; cerrarDropdowns()"
          >
            PLN
          </button>
        </div>
      </details>

      <!-- CATEGORÍA -->

      <details class="dropdown" (toggle)="toggleDropdown($event)">
        <summary>{{ nuevoGasto.categoria }}</summary>

        <div class="dropdown-options">
          <button
            type="button"
            (click)="nuevoGasto.categoria = 'comida'; cerrarDropdowns()"
          >
            Comida
          </button>

          <button
            type="button"
            (click)="nuevoGasto.categoria = 'ocio'; cerrarDropdowns()"
          >
            Ocio
          </button>

          <button
            type="button"
            (click)="nuevoGasto.categoria = 'transporte'; cerrarDropdowns()"
          >
            Transporte
          </button>

          <button
            type="button"
            (click)="nuevoGasto.categoria = 'otros'; cerrarDropdowns()"
          >
            Otros
          </button>
        </div>
      </details>

      <!-- DÍA -->

      <details class="dropdown" (toggle)="toggleDropdown($event)">
        <summary>{{ nuevoGasto.dia }}</summary>

        <div class="dropdown-options">
          <button
            *ngFor="let dia of dias"
            type="button"
            (click)="nuevoGasto.dia = dia; cerrarDropdowns()"
          >
            {{ dia }}
          </button>
        </div>
      </details>
    </div>

    <button class="btn-gasto" (click)="agregarGasto()">
      {{ editando ? 'Guardar cambios' : 'Añadir gasto' }}
    </button>

    <button *ngIf="editando" class="btn-cancelar" (click)="cancelarEdicion()">
      Cancelar edición
    </button>
  </div>

  <!-- DISTRIBUCIÓN -->

  <div class="card">
    <h3>Distribución</h3>

    <div class="categorias-bar">
      <div class="comida" [style.width.%]="porcentajeComida"></div>

      <div class="ocio" [style.width.%]="porcentajeOcio"></div>

      <div class="transporte" [style.width.%]="porcentajeTransporte"></div>

      <div class="otros" [style.width.%]="porcentajeOtros"></div>
    </div>

    <div class="leyenda">
      <span class="comida-dot">
        Comida ({{ porcentajeComida | number:'1.0-0' }}%)
      </span>

      <span class="ocio-dot">
        Ocio ({{ porcentajeOcio | number:'1.0-0' }}%)
      </span>

      <span class="transporte-dot">
        Transp ({{ porcentajeTransporte | number:'1.0-0' }}%)
      </span>

      <span class="otros-dot">
        Otros ({{ porcentajeOtros | number:'1.0-0' }}%)
      </span>
    </div>
  </div>

  <!-- HISTORIAL -->

  <div class="card">
    <div class="historial-header">
      <h3>Historial de gastos</h3>

      <span class="contador-gastos"> {{ gastos.length }} </span>
    </div>

    <ng-container *ngFor="let dia of dias">
      <div class="dia-bloque" *ngIf="gastosPorDia(dia).length">
        <div class="dia-header">
          <span>{{ dia }}</span>

          <span> {{ totalDia(dia) | number:'1.2-2' }} € </span>
        </div>

        <div class="gasto-item" *ngFor="let gasto of gastosPorDia(dia)">
          <div class="gasto-info">
            <strong> {{ gasto.concepto }} </strong>

            <p>{{ gasto.categoria }}</p>
          </div>

          <div class="gasto-actions">
            <span class="gasto-precio">
              {{ gasto.importe | number:'1.2-2' }} {{ gasto.moneda }}

              <small *ngIf="gasto.moneda === 'PLN'">
                ({{ convertirAEuros(gasto) | number:'1.2-2' }} €)
              </small>
            </span>
            <button
              class="btn-editar"
              (click)="editarGasto(gasto)"
            >
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="1.5em"
                  height="1.5em"
                >
                  <path
                    fill="#ffffff"
                    d="M3.548 20.938h16.9a.5.5 0 0 0 0-1h-16.9a.5.5 0 0 0 0 1M9.71 17.18a2.6 2.6 0 0 0 1.12-.65l9.54-9.54a1.75 1.75 0 0 0 0-2.47l-.94-.93a1.79 1.79 0 0 0-2.47 0l-9.54 9.53a2.5 2.5 0 0 0-.64 1.12L6.04 17a.74.74 0 0 0 .19.72a.77.77 0 0 0 .53.22Zm.41-1.36a1.47 1.47 0 0 1-.67.39l-.97.26l-1-1l.26-.97a1.5 1.5 0 0 1 .39-.67l.38-.37l1.99 1.99Zm1.09-1.08l-1.99-1.99l6.73-6.73l1.99 1.99Zm8.45-8.45L18.65 7.3l-1.99-1.99l1.01-1.02a.75.75 0 0 1 1.06 0l.93.94a.754.754 0 0 1 0 1.06"
                  />
                </svg>
              </span>
            </button>
            <button
              class="btn-eliminar"
              (click)="eliminarGasto(gasto)"
            >
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  width="1.1em"
                  height="1.1em"
                >
                  <path
                    fill="#ef4444"
                    d="m9.129 0l1.974.005c.778.094 1.46.46 2.022 1.078c.459.504.7 1.09.714 1.728h5.475a.69.69 0 0 1 .686.693a.69.69 0 0 1-.686.692l-1.836-.001v11.627c0 2.543-.949 4.178-3.041 4.178H5.419c-2.092 0-3.026-1.626-3.026-4.178V4.195H.686A.69.69 0 0 1 0 3.505c0-.383.307-.692.686-.692h5.47c.014-.514.205-1.035.554-1.55C7.23.495 8.042.074 9.129 0m6.977 4.195H3.764v11.627c0 1.888.52 2.794 1.655 2.794h9.018c1.139 0 1.67-.914 1.67-2.794zM6.716 6.34c.378 0 .685.31.685.692v8.05a.69.69 0 0 1-.686.692a.69.69 0 0 1-.685-.692v-8.05c0-.382.307-.692.685-.692m2.726 0c.38 0 .686.31.686.692v8.05a.69.69 0 0 1-.686.692a.69.69 0 0 1-.685-.692v-8.05c0-.382.307-.692.685-.692m2.728 0c.378 0 .685.31.685.692v8.05a.69.69 0 0 1-.685.692a.69.69 0 0 1-.686-.692v-8.05a.69.69 0 0 1 .686-.692M9.176 1.382c-.642.045-1.065.264-1.334.662c-.198.291-.297.543-.313.768l4.938-.001c-.014-.291-.129-.547-.352-.792c-.346-.38-.73-.586-1.093-.635z"
                  />
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <p *ngIf="gastos.length === 0" class="sin-gastos">
      Todavía no has añadido gastos.
    </p>
  </div>
</div>
